
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" autocomplete="off" #createTransferForm="ngForm" (ngSubmit)="save()">
            <nb-card class="as-case-card">
                <nb-card-header>
                    <nb-actions>
                        <nb-action class="control-item" icon="swap-outline"></nb-action>
                        <nb-action class="control-item ">
                            <h5>{{ "OutgoingTransfers" | localize }}</h5> 
                        </nb-action>
                    </nb-actions>
                    
                </nb-card-header>
                <nb-card-body class="as-case-card-body">
                    <div class="as-group row">
                        <div class="col-md-12">
                            <h6 class="as-group-elements"><span>{{'MainInfo' | localize}}</span></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row required">
                                        <label class="col-md-3 col-form-label" for="date">
                                            {{ "Date" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-datepicker 
                                            id='date' 
                                            name='date' 
                                            cssClass="as-sy-input"
                                            
                                            required
                                            placeholder="{{ 'SelectDate' | localize }}"
                                            [(ngModel)]="date"
                                            #dateModel="ngModel" 
                                            #dateEl
                                            ></ejs-datepicker>
                                            <abp-validation-summary [control]="dateModel" [controlEl]="dateEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row required">
                                        <label class="col-md-3 col-form-label" for="currency">
                                            {{ "Currency" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-dropdownlist 
                                            id='currency' 
                                            name='currency' 
                                            cssClass="as-sy-input"
                                            [dataSource]='currencies' 
                                            [enableRtl]="true" 
                                            [fields]='fields' 
                                            required
                                            [(ngModel)]="currency.id"
                                            #currencyModel="ngModel" 
                                            #currencyEl
                                            ></ejs-dropdownlist>
                                            <abp-validation-summary [control]="currencyModel" [controlEl]="currencyEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row required">
                                        <label class="col-md-3 col-form-label" for="toCompany">
                                            {{ "ToCompany" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-dropdownlist 
                                            id='toCompany' 
                                            name='toCompany' 
                                            cssClass="as-sy-input"
                                            [dataSource]='companies' 
                                            [enableRtl]="true" 
                                            [fields]='fields' 
                                            required
                                            [(ngModel)]="toCompany.id"
                                            #toCompanyModel="ngModel" 
                                            #toCompanyEl
                                            ></ejs-dropdownlist>
                                            <abp-validation-summary [control]="toCompanyModel" [controlEl]="toCompanyEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row required">
                                        <label class="col-md-3 col-form-label" for="country">
                                            {{ "Country" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-dropdownlist 
                                            id='country' 
                                            name='country' 
                                            cssClass="as-sy-input"
                                            [dataSource]='countries' 
                                            [enableRtl]="true" 
                                            [fields]='fields' 
                                            required
                                            [(ngModel)]="country.id"
                                            #countryModel="ngModel" 
                                            #countryEl
                                            ></ejs-dropdownlist>
                                            <abp-validation-summary [control]="countryModel" [controlEl]="countryEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 balance-box">
                            <div class="form-group row">
                                <label class="col-md-5 balance-text col-form-label" for="companyBalance">
                                    {{ "PreviousCompanyBalance" | localize }}
                                </label>
                                <div  class="col-md-7">
                                    <input class="e-input as-sy-input" type="text" tabindex="-1"  value="{{ getAmountWithCurrency(0) }}" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-5 balance-text col-form-label" for="companyBalance">
                                    {{ "CurrentBalance" | localize }}
                                </label>
                                <div  class="col-md-7">
                                    <input class="e-input as-sy-input" type="text" tabindex="-1"  value="{{ getAmountWithCurrency(0) }}" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Sender info -->
                    <div class="as-group row">
                        <div class="col-md-12">
                            <h6 class="as-group-elements"><span>{{'SenderInfo' | localize}}</span></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div [ngClass]="{'col-md-12' : paymentType.id == 0 , 'col-md-8' : paymentType.id != 0}">
                            <div class="row">
                                <div [ngClass]="{'col-md-4' : paymentType.id == 0 , 'col-md-6' : paymentType.id != 0}">
                                    <div class="form-group row required">
                                        <label class="col-md-3 col-form-label" for="name">
                                            {{ "PaymentType" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-dropdownlist 
                                            id='paymentType' 
                                            name='paymentType' 
                                            cssClass="as-sy-input"
                                            [dataSource]='paymentTypes' 
                                            [enableRtl]="true" 
                                            [fields]='fields' 
                                            required
                                            [(ngModel)]="paymentType.id"
                                            #paymentTypeModel="ngModel" 
                                            #paymentTypeEl
                                            ></ejs-dropdownlist>
                                            <abp-validation-summary [control]="paymentTypeModel" [controlEl]="paymentTypeEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6" *ngIf="paymentType.id == 1">
                                    <div class="form-group row required">
                                        <label class="col-md-3 col-form-label" for="fromClient">
                                            {{ "Client" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-dropdownlist 
                                            id='fromClient' 
                                            name='fromClient' 
                                            cssClass="as-sy-input"
                                            [dataSource]='clients' 
                                            [enableRtl]="true" 
                                            [fields]='fields' 
                                            required
                                            [(ngModel)]="fromClient.id"
                                            #fromClientModel="ngModel" 
                                            #fromClientEl
                                            ></ejs-dropdownlist>
                                            <abp-validation-summary [control]="fromClientModel" [controlEl]="fromClientEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="paymentType.id == 2">
                                    <div class="form-group row required">
                                        <label class="col-md-3 col-form-label" for="fromCompany">
                                            {{ "FromCompany" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-dropdownlist 
                                            id='fromCompany' 
                                            name='fromCompany' 
                                            cssClass="as-sy-input"
                                            [dataSource]='companies' 
                                            [enableRtl]="true" 
                                            [fields]='fields' 
                                            required
                                            [(ngModel)]="fromCompany.id"
                                            #fromCompanyModel="ngModel" 
                                            #fromCompanyEl
                                            ></ejs-dropdownlist>
                                            <abp-validation-summary [control]="fromCompanyModel" [controlEl]="fromCompanyEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                                
                                <div [ngClass]="{'col-md-4' : paymentType.id == 0 , 'col-md-6' : paymentType.id != 0}">
                                    <div class="form-group row required">
                                        <label class="col-md-3 col-form-label" for="sender">
                                            {{ "Sender" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-dropdownlist 
                                            id='sender' 
                                            name='sender' 
                                            cssClass="as-sy-input"
                                            [dataSource]='customers' 
                                            [enableRtl]="true" 
                                            [fields]='fields' 
                                            [(ngModel)]="sender.id"
                                            #senderModel="ngModel" 
                                            #senderEl
                                            ></ejs-dropdownlist>
                                            <abp-validation-summary [control]="senderModel" [controlEl]="senderEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                                <div [ngClass]="{'col-md-4' : paymentType.id == 0 , 'col-md-6' : paymentType.id != 0}">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="senderPhone">
                                            {{ "SenderPhone" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <input  
                                            type="text"
                                            id='senderPhone' 
                                            name='senderPhone' 
                                            class="e-input as-sy-input"
                                            autocomplete="off" 
                                            [(ngModel)]="sender.phoneNumber"
                                            #senderPhoneModel="ngModel" 
                                            #senderPhoneEl
                                            />
                                            <abp-validation-summary [control]="senderPhoneModel" [controlEl]="senderPhoneEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-md-4 balance-box" *ngIf="paymentType.id != 0">
                            <div class="form-group row" >
                                    <label class="col-md-5 balance-text col-form-label" for="companyBalance">
                                        {{ "PreviousBalance" | localize }}
                                    </label>
                                    <div  class="col-md-7">
                                        <input class="e-input as-sy-input" type="text" tabindex="-1"  value="{{ getAmountWithCurrency(0) }}" readonly />
                                    </div>
                            </div>
                            <div class="form-group row" >
                                <label class="col-md-5 balance-text col-form-label" for="companyBalance">
                                    {{ "CurrentBalance" | localize }}
                                </label>
                                <div  class="col-md-7">
                                    <input class="e-input as-sy-input" type="text" tabindex="-1"  value="{{ getAmountWithCurrency(0) }}" readonly />
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    
                    <!-- Receiver info -->
                    <div class="as-group row" >
                        <div class="col-md-12">
                            <h6 class="as-group-elements"><span>{{'ReceiverInfo' | localize}}</span></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label" for="beneficiary">
                                    {{ "Beneficiary" | localize }}
                                </label>
                                <div  class="col-md-9">
                                    <ejs-dropdownlist 
                                    id='beneficiary' 
                                    name='beneficiary' 
                                    cssClass="as-sy-input"
                                    [dataSource]='customers' 
                                    [enableRtl]="true" 
                                    [fields]='fields' 
                                    required
                                    [(ngModel)]="beneficiary.id"
                                    #beneficiaryModel="ngModel" 
                                    #beneficiaryEl
                                    ></ejs-dropdownlist>
                                    <abp-validation-summary [control]="beneficiaryModel" [controlEl]="beneficiaryEl">
                                    </abp-validation-summary>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="beneficiaryPhone">
                                    {{ "BeneficiaryPhone" | localize }}
                                </label>
                                <div  class="col-md-9">
                                    <input  
                                    type="text"
                                    id='beneficiaryPhone' 
                                    name='beneficiaryPhone' 
                                    class="e-input as-sy-input"
                                    autocomplete="off" 
                                    [(ngModel)]="beneficiary.phoneNumber"
                                    #beneficiaryPhoneModel="ngModel" 
                                    #beneficiaryPhoneEl
                                    />
                                    <abp-validation-summary [control]="beneficiaryPhoneModel" [controlEl]="beneficiaryPhoneEl">
                                    </abp-validation-summary>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="beneficiaryAddress">
                                    {{ "BeneficiaryAddress" | localize }}
                                </label>
                                <div  class="col-md-9">
                                    <textarea
                                    id='beneficiaryAddress' 
                                    name='beneficiaryAddress' 
                                    class="e-input as-sy-input"
                                    autocomplete="off"  
                                    [(ngModel)]="beneficiary.address"
                                    #beneficiaryAddressModel="ngModel" 
                                    #beneficiaryAddressEl
                                    ></textarea>
                                    <abp-validation-summary [control]="beneficiaryAddressModel" [controlEl]="beneficiaryAddressEl">
                                    </abp-validation-summary>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Financial info -->
                    <div class="as-group row" >
                        <div class="col-md-12">
                            <h6 class="as-group-elements"><span>{{'FinancialInfo' | localize}}</span></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row required">
                                        <label class="col-md-3 col-form-label" for="amount">
                                            {{ "Amount" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-numerictextbox 
                                            id='amount' 
                                            name='amount' 
                                            cssClass="as-sy-input"
                                            [enableRtl]="true" 
                                            required
                                            [(ngModel)]="amount"
                                            #amountModel="ngModel" 
                                            #amountEl
                                            ></ejs-numerictextbox>
                                            <abp-validation-summary [control]="amountModel" [controlEl]="amountEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="commission">
                                            {{ "Commission" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-numerictextbox 
                                            id='commission' 
                                            name='commission' 
                                            cssClass="as-sy-input"
                                            [enableRtl]="true" 
                                            required
                                            [(ngModel)]="commission"
                                            #commissionModel="ngModel" 
                                            #commissionEl
                                            ></ejs-numerictextbox>
                                            <abp-validation-summary [control]="commissionModel" [controlEl]="commissionEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="companyCommission">
                                            {{ "CompanyCommission" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-numerictextbox 
                                            id='companyCommission' 
                                            name='companyCommission' 
                                            cssClass="as-sy-input"
                                            [enableRtl]="true" 
                                            required
                                            [(ngModel)]="companyCommission"
                                            #companyCommissionModel="ngModel" 
                                            #companyCommissionEl
                                            ></ejs-numerictextbox>
                                            <abp-validation-summary [control]="companyCommissionModel" [controlEl]="companyCommissionEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row required">
                                        <label class="col-md-3 col-form-label" for="receivedAmount">
                                            {{ "ReceivedAmount" | localize }}
                                        </label>
                                        <div  class="col-md-9">
                                            <ejs-numerictextbox 
                                            id='receivedAmount' 
                                            name='receivedAmount' 
                                            cssClass="as-sy-input"
                                            [enableRtl]="true" 
                                            required
                                            [(ngModel)]="receivedAmount"
                                            #receivedAmountModel="ngModel" 
                                            #receivedAmountEl
                                            ></ejs-numerictextbox>
                                            <abp-validation-summary [control]="receivedAmountModel" [controlEl]="receivedAmountEl">
                                            </abp-validation-summary>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 balance-box">
                            <div class="form-group row" >
                                    <label class="col-md-5 balance-text col-form-label" for="companyBalance">
                                        {{ "RequiredAmount" | localize }}
                                    </label>
                                    <div  class="col-md-7">
                                        <input class="e-input as-sy-input" type="text" tabindex="-1"  value="{{ getAmountWithCurrency(amount + commission) }}" readonly />
                                    </div>
                            </div>
                        </div>
                    </div>
                    

                    <!-- Additional info -->
                    <div class="as-group row">
                        <div class="col-md-12">
                            <h6 class="as-group-elements"><span>{{'AdditionalInfo' | localize}}</span></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="reason">
                                    {{ "Reason" | localize }}
                                </label>
                                <div  class="col-md-9">
                                    <textarea
                                    id='reason' 
                                    name='reason' 
                                    class="e-input as-sy-input"
                                    autocomplete="off"  
                                    [(ngModel)]="reason"
                                    #reasonModel="ngModel" 
                                    #reasonEl
                                    ></textarea>
                                    <abp-validation-summary [control]="reasonModel" [controlEl]="reasonEl">
                                    </abp-validation-summary>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="note">
                                    {{ "Note" | localize }}
                                </label>
                                <div  class="col-md-9">
                                    <textarea
                                    id='note' 
                                    name='note' 
                                    class="e-input as-sy-input"
                                    autocomplete="off"  
                                    [(ngModel)]="note"
                                    #noteModel="ngModel" 
                                    #noteEl
                                    ></textarea>
                                    <abp-validation-summary [control]="noteModel" [controlEl]="noteEl">
                                    </abp-validation-summary>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton status="primary" type="submit" >
                        <nb-icon icon="save"></nb-icon>
                        {{ 'Save' | localize }}
                    </button>
                </nb-card-footer>
            </nb-card>
        </form>
        </div>
    </div>
    

