

<div class="row">
    <div class="col-md-12">
        <nb-card class="as-case-card">
            <nb-card-header>
                <nb-actions>
                    <nb-action class="control-item" icon="swap-outline"></nb-action>
                    <nb-action class="control-item ">
                        <h5>{{ "OutgoingTransfers" | localize }}</h5> 
                    </nb-action>
                </nb-actions>
                
            </nb-card-header>
            <nb-card-body class="as-case-card-body">
                <ejs-accordion>
                    <e-accordionitems>
                        <e-accordionitem expanded='true'>
                            <ng-template #header>
                                <div>Search</div>
                            </ng-template>
                            <ng-template #content>
                                <div>Microsoft ASP.NET is a set of technologies in the Microsoft .NET Framework for building Web applications and XML Web
                                    services. ASP.NET pages execute on the server and generate markup such as HTML, WML, or XML that is sent to a desktop
                                    or mobile browser. ASP.NET pages use a compiled,event-driven programming model that improves performance and enables
                                    the separation of application logic and user interface.</div>
                            </ng-template>
                        </e-accordionitem>
                    </e-accordionitems>
                </ejs-accordion>
            </nb-card-body>
        </nb-card>
    </div>
</div>